body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .footer {
  background-color: #1f2937;
}

.header {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.header a, .footer {
  color: #e5e7eb;
  font-size: 18px;
}

a {
  text-decoration: none;
}